<!DOCTYPE html>
<html>
<head>
  <title>My amazing calculator app!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav id="button">
    <span><li><a href="/basic_calc">BASIC CALC</a></li></span>
    <span><li><a href="/power">POWER</a></li></span>
    <span><li><a href="/sqrt">SQUARE ROOT</a></li></span>
    <span><li><a href="/bmi">BMI</a></li></span>
    <span><li><a href="/mortgage">MORTGAGE</a></li></span>
    <span><li><a href="/trip_calc">TRIP CALC</a></li></span>
  </nav>
  <div> <%= yield %> 
  </div>
</body>
</html>