<form action="/power" method="get">
  <label for="pfirst">NUMBER</label>
  <input type="text" name="pfirst" placeholder="Enter the first number">
  <label for="powerof">To The Power of</label>
  <input type="text" name="powerof" placeholder="To the power">
  <input type="submit" name="submit">
</form>


<%if @results %>
<p>The result of <%= @pfirsts %> to the power of <%= @powerof %> is: <%= @results %> </p>
<% end %>