<form action="/sqrt" method="get">
  <label for="first">Number to be square rooted</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <input type="submit" name="submit">
</form>


<%if @first %>
<p>The square root of <%= @first %> is: <%= @answer %> </p>
<% end %>