<form action="/trip_calc" method="get">
  <label for="distance">Distance</label>
  <input type="text" name="distance" placeholder="Enter your distance">
  <label for="mpg">MPG</label>
  <input type="text" name="mpg" placeholder="Enter your MPG">
  <label for="fppg">Fuel Price Per Gallon</label>
  <input type="text" name="fppg" placeholder="Enter ful price per gallon">
  <label for="speed">Speed</label>
  <input type="text" name="speed" placeholder="Enter your speed">
  <input type="submit" name="submit">
</form>


<%if @hours %>
<p>"It will take you <%= @hours %> hours at a cost of $<%= @price %> </p>
<% end %>